import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
.top_bar{
  margin: 5px;
  padding:7px;
}
.top_nav{
  display: inline;

}
.top_nav ul{

}
.top_nav ul li{
  list-style-type: none;
  display: inline;
  margin-left: 4em;
  
}
.top_nav ul li a{
text-decoration: none;
}
